* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.navbar-component {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* background-color: green; */
}

.navbar-component > .nav-logo-container {
    display: flex;
    align-items: center;
}

.navbar-component > .nav-logo-container > .netflix-logo {
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
}


.navbar-component > .nav-btn-container {
    display: flex;
    align-items: center;
}

.navbar-component > .nav-btn-container > .signup-btn {
    margin-right: 50px;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 400;
    padding: 7px 10px;
}

/* HOME LINE */
.home-line {
    width: 100%;
    height: 12px;
    background-color: rgb(57, 56, 56);
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 30px
}

.subscribe > .subscription-text {
    padding: 0px 70px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.subscription-input-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.subscription-input-btn > .subscription-input {
    padding: 15px 10px;
    width: 100%;
    font-size: 18px;
    border: none;
    margin-bottom: 10px;
}

.subscription-input-btn > .subscription-input:focus {
    outline: none;
}

.subscription-input-btn > .subscription-btn {
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #e50914;
}


/* HOME PAGE */
.home {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.first-home-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../public/images/background.jpg');
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
}

.first-home-section > .text-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 30px;
}

.text-input-container > p {
    color: white;
    text-align: center;
    padding: 0px 10px;
}

.text-input-container > .first-text {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.text-input-container > .second-text {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.text-input-container > .third-text {
    padding: 0px 70px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.input-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-btn-container > .first-home-section-input {
    padding: 15px 10px;
    width: 100%;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
}

.input-btn-container > .first-home-section-input:focus {
    outline: none;
}

.input-btn-container > .first-home-section-btn {
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #e50914;
}

.second-home-section {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 70px 10px;
}

.first-section-text {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0px 10px;
}

.second-section-text {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    padding: 0px 10px;
}

.second-home-section > .second-section-img {
    max-width: 100%;
    margin: 0 auto;
}


.third-home-section {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}


.fourth-home-section {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.fifth-home-section {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.sixth-home-section {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.sixth-home-section > .first-text {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0px 10px;
}

.frequent-question-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

.each-question-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.each-question {
    background-color: rgb(57, 56, 56);
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #fff;
    padding: 0px 20px;
}

.each-question > .question {
    font-size: 1.3rem;
    color: #fff;
}

.each-question > .icon {
    font-size: 1.3rem;
    color: #fff;
}
.each-question-container > .answer {
    background-color: rgb(57, 56, 56);
    height: auto;
    padding: 20px;
    margin-top: 5px;
    display: none;
}

.each-question-container > .answer > p {
    color: #fff;
    font-size: 18px;
}

.footer {
    background-color: black;
    color: #ccc;
    padding: 50px 70px;
}

.footer > .link-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0px;
}

.link-container > ul > li {
    list-style: none;
    margin: 20px 0px;
    width: 100%;
}

.link-container > ul > li > a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

@media only screen and (min-width: 610px) {
    .navbar-component > .nav-logo-container > .netflix-logo {
        height: 120px;
        margin-left: 50px;
    }

    .navbar-component > .nav-btn-container > .signup-btn {
        padding: 10px 17px;
    }


    .subscribe > .subscription-text {
        padding: 0px 70px;
        font-size: 1.5rem;
        width: 700px;
    }
        
    .subscription-input-btn > .subscription-input {
        width: 80%;
        padding: 15px 10px;
    }

    /* HOME PAGE */
    .first-home-section {
        height: 100%;
    }

    .first-home-section > .text-input-container {
        padding-top: 120px;
    }

    .text-input-container > .first-text {
        font-size: 3.8rem;
    }
    
    .text-input-container > .second-text {
        font-size: 1.8rem;
    }
    
    .text-input-container > .third-text {
        padding: 0px 70px;
        font-size: 1.5rem;
        width: 700px;
    }

    .input-btn-container > .first-home-section-input {
        width: 80%;
    }

    .first-section-text {
        font-size: 2.5rem;
    }
    
    .second-section-text {
        font-size: 1.5rem;
    }

    .sixth-home-section > .first-text {
        font-size: 2.5rem;
        width: 70%;
    }

    .frequent-question-container {
        padding: 0px 70px;
    }

    .each-question > .question {
        font-size: 1.5rem;
    }
    
    .each-question > .icon {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 675px) {

    .subscription-input-btn > .subscription-input {
        width: 70%;
        padding: 20px 10px;
        margin-bottom: 20px;
    }

    .text-input-container > .first-text {
        font-size: 3rem;
        width: 600px;
    }

    .input-btn-container > .first-home-section-input {
        width: 70%;
    }

    .third-home-section {
        padding: 75px 10px;
    }

    .third-section-text-container > .first-text {
        font-size: 2.8rem;
    }
    .third-section-text-container > .second-text {
        font-size: 1.5rem;
    }

    .third-home-section > .second-section-img {
        max-width: 800px;
        margin: 0 auto;
    }

    .fourth-home-section {
        padding: 70px 20px;
    }

    .fifth-home-section {
        padding: 70px 20px;
     }

     .fifth-home-section > .first-text {
        font-size: 2.8rem;
     }

    .fifth-home-section > .second-section-img {
        max-width: 800px;
        margin: 0 auto;
    }

    
}

@media only screen and (min-width: 1056px) {
    
    .subscribe > .subscription-text {
        font-size: 1.3rem;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .subscription-input-btn {
        display: flex;
        flex-direction: row;
    }
    
    .subscription-input-btn > .subscription-input {
        width: 50%;
        height: 70px;
        margin: 0;
    }
    
    .subscription-input-btn > .subscription-btn {
        padding: 20px 30px;
        height: 70px;
        font-size: 24px;
        border-radius: 0px;
    }

    .first-home-section > .text-input-container {
        padding-top: 150px;
    }

    .text-input-container > .second-text {
        margin-bottom: 50px;
    }

    .text-input-container > .third-text {
        width: 100%;
    }

    .input-btn-container {
        display: flex;
        flex-direction: row;
    }

    .input-btn-container > .first-home-section-input {
        width: 50%;
        height: 70px;
        margin: 0%;
    }

    .input-btn-container > .first-home-section-btn {
        padding: 20px 30px;
        height: 70px;
        font-size: 24px;
        border-radius: 0px;
    }

    .second-home-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 70px 20px 50px 30px;
    }
    
    .first-section-text {
        font-size: 3rem;
        text-align: left;
        padding: 0px 10px;
    }
    
    .second-section-text {
        font-size: 1.8rem;
        text-align: left;
        padding: 0px 10px;
    }
    
    .second-home-section > .second-section-img {
        max-width: 450px;
        margin: 0 auto;
    }

    .third-home-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 50px 10px;
    }

    .third-section-text-container > .first-text {
        width: 70%;    
    }
    .third-section-text-container > .second-text {
        width: 70%;  
    }

    .third-home-section > .second-section-img {
        max-width: 500px;
        margin: 0 auto;
    }

    .fourth-home-section {
        display: flex;
        flex-direction: column;
        padding: 70px 50px;
    }

    .fourth-home-section > .first-text {
        width: 40%;
        line-height: 50px;
        font-size: 3rem;
    }

    .fourth-home-section > .second-text {
        width: 50%;
        line-height: 40px;
    }

    .fifth-home-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 70px 20px 50px 30px;
    }

    .fifth-home-section {
        padding: 80px 10px;
     }

     .fifth-section-text-container > .second-section-text {
        width: 70%;
     }

    .fifth-home-section > .second-section-img {
        max-width: 500px;
        margin: 0 auto;
    }

    .sixth-home-section > .first-text {
        font-size: 3rem;
    }

    .frequent-question-container {
        padding: 0px 180px;
        margin-bottom: 50px;
    }

    .each-question {
        height: 80px;
    }

    .each-question > .question {
        font-size: 2rem;
    }
    
    .each-question > .icon {
        font-size: 2rem;
    }

    .footer {
        padding: 50px 170px;
    }
}